$grey: #cccccc;
$primaryColor: rgb(255, 170, 170);
$secondaryColor: rgb(200, 241, 252);

@import 'particles';
@import 'management';
@import 'versus';

body {
    padding: 0;
    margin: 0;
}

header {
    height: 400px;
    background: url('../images/sky.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.modal-footer {

    & button {
        background-color: $primaryColor;
        border-radius: 5px;
        border: none;
        color: white;
        font-weight: bold;
    }
}

footer {
    height: 100px;
}